<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>
  <p>このアプリを利用するには、Fitbitアカウントとの連携が必要です。</p>
  <a href="/auth">
    <button>Fitbitと連携する</button>
  </a>
</body>
</html>